.header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--color-bg);
    
    &__container {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 150px;
        margin-right: 65px;
        padding: 5px 5px;
    }

    &__menu {
        margin-right: 65px;
    }

    &__btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 98px;
        height: 42px;
        background-color: var(--color-primary);
        color: var(--color-white);
        border-radius: 4px;
    }
}

.menu {
    &__list {
        display: flex;
    }

    &__item {
        padding: 6px 6px;
        border-radius: 10px;
        &:not(:last-child) {
          margin-right: 24px;
        }
        &:hover {
          background-color: var(--color-white);
            .fa-solid {  
              color: var(--color-black);
            }
            .menu__item-text {
              color: var(--color-black);
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
    
    }

    &__item-text {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: var(--color-white);
    }

    &__svg {
        color: var(--color-white);
        font-size: 18px;
        margin-right: 8px;
    }
}

.search-form {
    position: relative;
    margin-right: 50px;
    width: 37px;
    height: 37px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: 0.5s all;
    overflow: hidden;

    &__btn-search {
      min-width: 18px;
      height: 18px;
      margin-right: 10px;
      border: none;
      background-color: transparent;
      fill: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__input {
      height: 20px;
      width: 100px;
      border: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      color: white;
      background-color: transparent;
      outline: none;
      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    &__btn-close {
      width: 13px;
      height: 13px;
      border: none;
      background-color: transparent;
      fill: white;
      transform: scale(0);
      transform: rotate(90deg);
      transition: 0.9s;
    }

    &__active {
        width: 320px;
        .search-form__btn-close {
            transform: scale(1);
        }
    }
}

  