.header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--color-bg);
    
    &__container {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 150px;
        margin-right: 65px;
        padding: 5px 5px;
    }

    &__menu {
        margin-right: 50px;
    }

    &__login {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 48px;
      height: 48px;
      border-radius: 100%;
      border: 2px solid var(--color-primary);
      cursor: pointer;
      overflow: hidden;
      img {
        width: 100%;
      }
    }

    // &__btn {
    //     position: absolute;
    //     top: 50%;
    //     right: 15px;
    //     transform: translateY(-50%);
    //     width: 98px;
    //     height: 42px;
    //     background-color: var(--color-primary);
    //     color: var(--color-white);
    //     border-radius: 4px;
    // }
}

.menu {
    &__list {
        display: flex;
    }

    &__item {
        padding: 6px 6px;
        border-radius: 10px;
        &:not(:last-child) {
          margin-right: 24px;
        }
        &:hover {
          transition: all 0.3s ease-in-out;
          background-color: var(--color-white);
            .fa-solid {  
              color: var(--color-black);
            }
            .menu__item-text {
              color: var(--color-black);
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
    
    }

    &__item-text {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: var(--color-white);
    }

    &__svg {
        color: var(--color-white);
        font-size: 18px;
        margin-right: 8px;
    }
}

// .account {
//   position: absolute;
//   top: -25px;
//   right: 15px;
//   width: 260px;
//   padding: 25px;
//   background: #15161C;
//   box-shadow: 0px 4px 45px 0px rgba(2, 6, 13, 0.42);
//   border-radius: 8px;
//   z-index: 15;
//   opacity: 0;
//   visibility: hidden;
//   transition: all 0.1s ease-out;

//   &__btn-close {
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     border: none;
//     background-color: transparent;
//     width: 20px;
//     height: 20px;
//     &--icon {
//       color: var(--color-white);
//       width: 100%;
//       height: 100%;
//     }
//   }

//   &__header {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }

//   &__avatar {
//     border-radius: 100%;
//     width: 48px;
//     height: 48px;
//     border-radius: 100%;
//     border: 2px solid var(--color-primary);
//     overflow: hidden;
//     margin-bottom: 15px;
//     img {
//       width: 100%;
//     }
//   }

//   &__email {
//     color: #807E81;
//     font-size: 16px;
//     font-weight: 500;
//     line-height: 20px;
//     margin-bottom: 25px;
//   }
// }

// .account-menu {

//   &__list {
//     display: flex;
//     flex-direction: column;
//   }

//   &__divider {
//     height: 1px;
//     background-color: #21222C;
//     // background-color: #fff;
//   }
  
//   &__list-item {
//     padding: 15px 0;
//     display: flex;
//     align-items: center;
//   }

//   &__icon {
//     margin-right: 15px;
//     color: var(--color-white);
//   }

//   &__link {
//     color: var(--color-white);
//     font-size: 16px;
//     font-weight: 400;
//     line-height: 20px;
//   }
// }

// .account.active {
//   opacity: 1;
//   visibility: visible;
// }



